.header__wrapper {
  padding: 0 90px;
  min-height: 80px;

  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
  margin-left: 24px;
  padding: 0;
}

.header__link {
  margin-left: auto;
}

.header__link-index {
  margin-left: auto;
  margin-top: -4px;

  font-weight: 700;
}
