.title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weigHt: 700;
  line-height: 115%; /* 50.6px */
}

.title__h1 {
  font-size: 44px;
}

.title__h2 {
  font-size: 36px;
}

.title__h3 {
  font-size: 28px;
}

.title__h4 {
  font-size: 18px;
}
